body {
  margin-top: 50px;
  background-color: #1F2125;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  text-align: center;
  margin: 0 auto;
  border-radius: 2%;
  width: 400px;
  background-color: #181A1E;
}

.info--picture{
  border-radius: 3%;
  width: 400px;
}
.info--container > h1{
  color: white;
  font-weight: 700;
  margin-bottom: -20px;
}
.info--container > h2{
  color: #FF893A;
  font-weight: 700;
  margin-bottom: -20px;
}
.info--container > h3{
  color: white;
  font-weight: 700;
}

.info--container > button{
  box-shadow: none;
  width: 150px;
  height: 40px;
  border-radius: 7px;
  margin: 10px;
  border-style: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

.info--container > button:hover{
  background-color: #FF893A;
  transition: 0.2s ease-in-out;
}

.info--linkedin-btn{
  color: white;
  background-color: #4283D1;
  padding-left: 33px;
}
.info--icon{
  width: 20px;
 vertical-align: middle;
 margin-right: 5px;
}
.info--email-btn{
  padding-left: 40px;
}
